<div class="sidebar" >
        <!--사이드바 입력-->
        <section class="box feature" >
            <h2 style="text-align:center;">· 수강과목 ·</h2>

            <div style="text-align:center;">
            <table class="type06" style="display:inline; text-align:center; border:none;" >
                <tr scope="row" class="even" >
                        <td>
                            <!--학생이 수강중인 강의명 읽어오기-->

                            
                                <select id="category" name="sidebar_subject" onchange="location = '/myclass/' + this.options[this.selectedIndex].value;" style="width:120px; display:inline-block; ">
                                    <option>수강과목</option>
                                    
                                </select>
                                

                              </td>

                        
                    </tr>
            </table>
            </div>
            <ul class="left-side">
                <li>
                    <!--<a onclick="location = '/myclass/'+location.href.split('/')[4]+'/plan'"></a>-->
                    <a href='/myclass/<%=subject_no %>/plan'>강의계획서</a>
                </li>
                <li>
                    <a href='/myclass/<%=subject_no %>/notice'>공지사항</a>  
                </li>
                <li>
                    <a href='/myclass/<%=subject_no %>/qna'>질의응답</a>
                </li>
                <li>
                    <a href='/myclass/<%=subject_no %>/ppt'>강의자료</a>
                </li>
                <li>
                    <a href='/myclass/<%=subject_no %>/task'>과제</a>
                </li>
                <li>
                    <a href='/myclass/<%=subject_no %>/team'>팀프로젝트</a>
                </li>
                <li>
                    <a href='/myclass/<%=subject_no %>/grade'>성적</a>
                </li>
               
            </ul>
        </section>
    
        
    </div>
    <div >
            <ul class="mobile-sidebar">
                    <li>
                            <a href="/myclass/plan">강의계획서</a>
                        </li>
                        <li>
                            <a href="/myclass/notice">공지사항</a>
                        </li>
                        <li>
                            <a href="/myclass/qna">질의응답</a>
                        </li>
                        <li>
                            <a href="/myclass/ppt">강의자료</a>
                        </li>
                        <li>
                            <a href="/myclass/task">과제</a>
                        </li>
                        <li>
                            <a href="#">팀프로젝트</a>
                        </li>
                        <li>
                            <a href="#">성적</a>
                        </li>
                        
            </ul>
    </div>