<!DOCTYPE HTML>

<html>

<head>
	<!--헤드내용 include -->
	<% include ../../partials/head.ejs %>
</head>

<body class="homepage">
	<div id="page-wrapper">

		<!-- Header -->
		<!-- 헤더에서 로고 연결되는 주소 맞게 됐는지 확인하기 -->
		<% include ./header.ejs %>

		<!-- Nav include -->
		<% include ./nav.ejs %>


		<!-- Main -->
		<div id="main-wrapper">
			<div id="main" class="container">

				<div class="row 200%">
					<div class="12u">

						<section class="box features">
						
							<div>

								<div class="row">
									
									<div class="4u 12u(mobile)">

										<div class="content content-right">
											<!--섹션 내부에서 구성되는 소내용 1개-->
											<section class="box feature">
												<h2 class="major"><span>수강과목</span></h2>
                                                
                                                <ul>
                                                        <li>
                                                                <a href="#">자료구조</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">알고리즘</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">영상처리</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">객체지향분석설계</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">실용영어</a>
                                                            </li>
                                                            <li>
                                                                <a href="#">수학2</a>
                                                            </li>
                                                </ul>
											</section>
										</div>

									</div>

                                    <div class="5u 12u(mobile)">

                                            <div class="content content-left">
                                                
                                                <!--섹션 내부에서 구성되는 소내용 1개-->
                                                <!--
                                                    section class= box feature 중간정렬
                                                    section class= box features 왼쪽정렬
                                                 -->
                                                <section class="box feature">
                                                    <h2 class="major">
														<span>
															<!-- 바로아래 div 2개 각각에 클릭 이벤트 걸어주세요~~ -->
															<a href="#" class="icono-caretLeft"></a>
															 강의자료 
															 <a href="#" class="icono-caretRight"></a>
															<p style="margin:10px 0 0 0; font-size:18px;">
																<!--이부분이 위에 버튼에서 클릭할때마다 다른 과목의 강의자료 업로드 되야함-->
																
																자료구조
																
															</p>
														</span>
													</h2>
                                                    
                                                    <ul>
                                                        <li>
															<a href="#">chap01.자료구조란?</a>
														</li>
                                                        <li>
															<a href="#">첨부자료1 (한번씩 읽고 오세요)</a>
														</li>
                                                    </ul>
                                                </section>
                                            </div>
                                    </div>

                                    <div class="3u 12u(mobile)">

                                            <div class="content content-left">
                                                
                                                <!--섹션 내부에서 구성되는 소내용 1개-->
                                                <!--
                                                    section class= box feature 중간정렬
                                                    section class= box features 왼쪽정렬
                                                 -->
                                                <section class="box feature">
                                                    <h2 class="major"><span>알림</span></h2>
                                                    
                                                    <ul>
                                                        <li>
															<a href="#">자료구조 강의자료 업로드</a>
														</li>
                                                        <li>
															<a href="#">알고리즘 과제 업로드</a>
														</li>
                                                    </ul>
                                                </section>
                                            </div>
                                        </div>
    
    
								</div>

							</div>
						</section>
					</div>
				</div>



		<div class="row 200%">
			<div class="12u">

				<!-- Blog -->
				<section class="box blog" style="margin:0 0 0 30px;">
					<h2 class="major">
						<span></span>
					</h2>
					<div>
						<div class="row">
							<div class="8u 12u(mobile)">
								<div class="content content-left">

									<!-- Featured Post -->
									<article class="box post">
										<header>
											<h3>
                                                <a href="/community">#코딧_Community</a>
											</h3>
                                            <p>궁금한 건 산기인들에게 물어봐~ #궁금해#알려죠</p>

											<a style="float:right;" href="/community" class="button">go!</a>
								
                                           
                                            <ul class="meta">
												<li class="icon fa-clock-o">최신글 15분 전</li>
												<li class="icon fa-comments">
													<a href="#">8</a>
												</li>
											</ul>
                                        </header>
                                        
										
										<!-- table 안에 각 <td> 마다 커뮤니티에서 인기글 상위 5개 긁어와야함-->
												<table class="type06">
												<% community.forEach((item,index) => { 
													if((index+1)%2) { %>
														<tr>
															<th scope="row">
																<%= index+1 %>
															</th>
															<td>
																<a href="/community/<%=item.board_no%>">
																	<%= item.board_title %>
																</a>
															</td>
															
															<% } else {  %>
															<th scope="row" class="even">
																<%= index+1 %>
															</th>
															<td class="even">
																<a href="/community/<%=item.board_no%>">
																	<%= item.board_title %>
																</a>
																</td>
													<% } %>
													</tr>
													<% }); %>
													</table>
									
									</article>

								</div>
							</div>
							<div class="4u 12u(mobile)">
								<div class="sidebar">
									
									<p>
										태경아~~ 여기에 달력이 들어가면 좋겠다 ^^
									</p>
								</div>
							</div>
						</div>
					</div>
				</section>

			</div>
		</div>
	</div>
	</div>



	
	<!-- Footer include -->
	<% include ../../partials/footer.ejs %>

	</div>

	<!-- Scripts -->
	<% include ../../partials/scripts.ejs %>

</body>

</html>