<!DOCTYPE html>
<html>

<head>
  <!--헤드내용 include -->

  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/summernote.css">

  <% include ../../partials/head.ejs %>
    <% include ../../partials/scripts.ejs %>

</head>

<body class="homepage">
  <div id="page-wrapper">

    <% include ./header.ejs %>
      <% include ./nav.ejs %>

        <!--main-->
        <div id="main-wrapper">
          <div id="main" class="container">

            <div class="row 200%">
              <div class="12u">
                <div class="content content-left">
                  <article class="box post">
                    <header>
                      <h3>
                        <a href="/community">#웰컴_코딧커뮤니티!!</a>
                        <a onclick="location.href='/Community/insert'" style="float:right; margin:2% 0; font-weight:inherit; font-size:0.4em;" href="/community"
                          class="button">목록보기</a>

                      </h3>
                      <p>공부 중 궁금한게 생길 때, 스터디를 구하고 싶을 때, 강의후기가 궁금할 때 등 이유불문 무엇이든 산기인들에게 물어보세요 :)</p>
                      <h2 class="major"></h2>
                    </header>

                    <div>
                      <table class="type06" style="margin:0;vertical-align:middle; text-align:center;">
                        <colgroup>
                          <col width="15%">
                          <col width="35%">
                          <col width="15%">
                          <col width="35%">

                        </colgroup>

                        <tr>
                          <th scope="row" class="even">제목</th>
                          <td>
                            <%= readBoard.board_title %>
                          </td>
                          <th scope="row" class="even">작성자</th>
                          <td>
                            <%= readBoard.board_writer %>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row" class="even">등록일</th>
                          <td>
                            <% let date2 = new Date(readBoard.created_at)
                                                                const year = date2.getFullYear();
                                                                let month = date2.getMonth() - 1;
                                                                let day = date2.getDate();
                                                                let hour = date2.getHours()
                                                                let min = date2.getMinutes()
                                                                if (month < 10) {
                                                                    month = "0" + month
                                                                }
                                                                if (day < 10) {
                                                                    day = "0" + day
                                                                }
                                                
                                                                if (hour < 10) {
                                                                    hour = "0" + hour
                                                                }
                                                
                                                                if (min < 10) {
                                                                    min = "0" + min
                                                                }
                                                                const temp = `${year}.${month}.${day} ${hour}:${min}`
                                                                 %>
                              <%=temp%>
                          </td>
                          <th scope="row" class="even">조회수</th>
                          <td>
                            <%= readBoard.board_count %>
                          </td>
                        </tr>
                        <tr>
                          <td colspan="4" style="padding:40px 20px;">
                            <textarea class="summernote"><%= readBoard.board_content %></textarea>
                          </td>
                        </tr>

                        <tr>
                          <td colspan="4" scope="row" class="even"></td>
                        </tr>

                        <tr>
                          <td colspan="4" scope="row" class="even">
                            <button onclick="location.href='javascript:history.back()'">뒤로가기</button>
                          </td>
                        </tr>
                      </table>


                    </div>

                    <h2 class="major" style="margin:3% 0;"></h2>

                    <!--달린 댓글 보이는 테이블-->
                    <div style="padding:0 10%;">
                      <table class="type06">
                        <colgroup>
                          <col width="35%">
                          <col widty="65%">
                        </colgroup>

                        <thead scope="row" class="even">
                          <tr>
                            <th colspan="2" style="text-align:left; padding-left:3%;">댓글
                              <%= reply.length %>개</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% reply.forEach((item , index) => { %>
                            <tr>
                              <th>
                                <%= item.reply_writer %> (2017-03-31 11:40)
                              </th>
                              <td>
                                <%= item.reply_content %>
                              </td>
                            </tr>
                            <% })  %>
                        </tbody>

                      </table>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Footer include  -->
        <% include ../../partials/footer.ejs %>

  </div>

  <!-- Scripts -->
  <!-- summernote 에딧창 추가 -->
  <script>
    $(document).ready(function () {
      $('.summernote').summernote({
        height: 300,
        tabsize: 2,
        focus: true,
        airMode: true,
        disableDragAndDrop: true,
        popover: {
          air: []
        }
      });
      $('.summernote').summernote('disable');
    });
  </script>

</body>

</html>