<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    
    <title>Document</title>
</head>

<body>
    <button onclick="location.href='/'">Codit Class</button>
    <button onclick="location.href='/Editor'">Editor</button>
    <button onclick="location.href='/Community'">Community</button>
    <button onclick="location.href='/User'">MyInfo</button>
    <button onclick="location.href='/Logout'">Logout</button>

    <h2>Welcome Community</h2>

    <table width=70% border="1">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>등록일</th>
            <th>조회수</th>
        </tr>
        <% data.forEach((item,index) => { %>
        <tr>
            <td><%= index+1 %></td>
            <td><a href="/community/read/<%=item.board_no%>"><%= item.board_title %></td>
            <td><%= item.user_id %></td>
            <td><%= item.created_at %></td>
            <td><%= item.board_count %></td>
        </tr>
        <% }); %>
    </table>


    <hr  align="left" width="70%">
    <button onclick="location.href='/Community/insert'">글쓰기</button>
</body>

</html>