<!DOCTYPE HTML>
<!--로그인 전 기본 스타일sheet-->
<html>

		<head>
			<% include ../../partials/head.ejs %>
		</head>

<body class="homepage">
	<div id="page-wrapper">

		<% include ./header.ejs %>

		<% include ./nav.ejs %>


		<!-- Main -->
		<div id="main-wrapper">
			<div id="main" class="container">


		<div class="row 200%">
			<div class="12u">

				<!-- Blog -->
				<section class="box blog" style="margin-bottom:10%;">
					<div>
						<div class="row">
							<div class="6u 12u(mobile)">
									<div class="content content-left">
										<!--섹션 내부에서 구성되는 소내용 1개-->
										<!--
											section class= box feature 중간정렬
											section class= box features 왼쪽정렬
										 -->
										<section class="box feature">
											<h2 class="major"><span>공지사항</span></h2>
											<ul>
												<% notice.forEach((item,index) => { %>
												<li>
													<a href="/community/<%=item.board_no%>">
														<%= item.board_title %></a>
												</li>
												<% }); %>
											</ul>
										</section>
									</div>
							</div>

							<div class="6u 12u(mobile)">
									<div class="content content-right">

										<section class="box feature">
											<h2 class="major"><span>FAQ</span></h2>

											<ul>
												<% faq.forEach((item,index) => { %>
												<li>
													<a href="/community/<%=item.board_no%>">
													<%= item.board_title %></a>
												</li>
												<% }); %>
											</ul>
										</section>
									</div>
							</div>

						</div>
					</div>
				</section>

			</div>
		</div>


		<div class="row 200%">
				<div class="12u">

					<!-- Blog -->
					<section class="box blog">
						<h2 class="major">
							<span></span>
						</h2>
						<div>
							<div class="row">
								<div class="8u 12u(mobile)">
									<div class="content content-left">

										<!-- Featured Post -->
										<article class="box post">
											<header>
												<h3>
													<a href="/community">#코딧_Community</a>
												</h3>
												<p>궁금한 건 산기인들에게 물어봐~ #궁금해#알려죠</p>

												<a style="float:right;" href="/community" class="button">go!</a>


												<ul class="meta">
													<li class="icon fa-clock-o">최신글 15분 전</li>
													<li class="icon fa-comments">
														<a href="#">8</a>
													</li>
												</ul>
											</header>

											<table class="type06">

												<% community.forEach((item,index) => {
													if((index+1)%2) { %>

														<tr>
															<th scope="row">
																<%= index+1 %>
															</th>
															<td>
																<a href="/community/<%=item.board_no%>">
																	<%= item.board_title %>
																</a>
															</td>

															<% } else {  %>
															<th scope="row" class="even">
																<%= index+1 %>
															</th>
															<td class="even">
																<a href="/community/<%=item.board_no%>">
																	<%= item.board_title %>
																</a>
																</td>
													<% } %>
													</tr>
													<% }); %>
											</table>

										</article>

									</div>
								</div>
								<div class="4u 12u(mobile)">
									<div id="calendar"></div>
									</div>
								</div>
							</div>
						</div>
					</section>

				</div>
			</div>

	</div>
	</div>

	<!-- Footer include  -->
	<% include ../../partials/footer.ejs %>

	</div>
    <!-- Scripts -->
	<% include ../../partials/scripts.ejs %>

		<script>
			// DB 연동해서 로그인한 학생, 교수들 스케줄 출력은 추후에
			$(document).ready(function() {
				// var date = new Date();
				// var d = date.getDate();
				// var m = date.getMonth();
				// var y = date.getFullYear();
				$('#calendar').fullCalendar({
					header: {
						left: "",
						center: "title",
						right: "today prev,next"
					},
					dayNamesShort: ["일", "월", "화", "수", "목", "금", "토"],
					dayNames: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
					allDayDefault: false,
					defaultView: "month",
					editable: false,
					monthNamesShort: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
					monthNames: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
					buttonText: {
						today: "오늘",
						month: "월별",
						week: "주별",
						day: "일별",
					}
				});

			});
		</script>








</body>

</html>..
